.photoinfo-container{
    .thumbs {
        margin-bottom: 10px;
        figure{
            width: 30%;
            box-sizing: border-box;
            margin: 5px;
            box-shadow: 0 0 8px #999;
            display: inline-block;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }
        
    }
}